In [ ]:
# Aspect ratings of female game characters.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../Data/sexualization.grivg.csv")

df

,Id,Sexualized_clothing,Trophy,Damsel in Distress,Sexualized Cutscenes,Total
0,CODMW_Farah,0,0,0,0,0
1,PSS_Protagonist,0,0,0,0,0
2,PSS_Magnolia,0,0,0,0,0
3,PSS_Sonia,0,0,0,0,0
4,PSS_Marnie,0,0,0,0,0
...,...,...,...,...,...,...
632,KBOS_Beni,0,0,0,0,0
633,KBOS_Taro,0,0,0,0,0
634,KBOS_Rusu,0,0,0,0,0
635,KBOS_Adira,0,0,0,0,0
636,KBOS_Hana,0,0,0,0,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 637 entries, 0 to 636
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Id                    637 non-null    object
 1   Sexualized_clothing   637 non-null    int64
 2   Trophy                637 non-null    int64
 3   Damsel in Distress    637 non-null    int64
 4   Sexualized Cutscenes  637 non-null    int64
 5   Total                 637 non-null    int64
dtypes: int64(5), object(1)
memory usage: 30.0+ KB

In [4]:
df.describe()

,Sexualized_clothing,Trophy,Damsel in Distress,Sexualized Cutscenes,Total
count,637.000000,637.000000,637.000000,637.000000,637.000000
mean,0.029827,0.010989,0.028257,0.017268,0.086342
std,0.170244,0.104333,0.165838,0.130372,0.389022
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,3.000000